<div class="container text-center pb-5">
<h3>CONTACTO</h3>

<table class="table table-striped animate__animated animate__fadeIn ">
    
    <tbody>
      <tr>
        <th scope="row">Telefono</th>
        <td>+51 921766751</td>
      </tr>
      <tr>
        <th scope="row">E-mail</th>
        <td>sp.david@gmail.com</td>
      </tr>
      <tr>
        <th scope="row">Linkein</th>
        <td><a href="https://www.linkedin.com/in/david-sullcaray-palomino-4852831b4/" target="_blank">
            <i class="fa fa-linkedin-square" style="font-size:24px"></i>
        </a></td>
      </tr>
      <tr>
        <th scope="row">Direccion</th>
        <td>Los Olivos-Lima</td>
      </tr>
    </tbody>
  </table>


</div>